<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='jsondiffpatch/jsondiffpatch.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='jsondiffpatch/jsondiffpatch-formatters.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='jsondiffpatch/html.css') }}" type="text/css" />
        <link rel="stylesheet" href="{{ url_for('static', filename='jsondiffpatch/annotated.css') }}" type="text/css" />
    </head>
    <body>
        <div id="visual"></div>
        <hr/>
        <div id="annotated"></div>
        <script>
            var left = { a: 3, b: 4 };
            var right = { a: 5, c: 9 };
            var delta = jsondiffpatch.diff(left, right);

            // beautiful html diff
            document.getElementById('visual').innerHTML = jsondiffpatch.formatters.html.format(delta, left);

            // self-explained json
            document.getElementById('annotated').innerHTML = jsondiffpatch.formatters.annotated.format(delta, left);
        </script>
    </body>
</html>
