{% extends "layout.html" %}
{% block body %}

<!-- load template -->
<script type="text/x-template" id="load-template">
  <button type="button" v-on="click: create">Create</button>
</script>

<form id="loader">
<ul id="maps" size="3" v-model="selected">
  <li v-repeat="maps"><a href="/map/((%$value%))">((%$value%))</a></li>
  <div v-component="load_select_button"></div>
  <input type="text" v-model="new_mapname">
</ul>
</form>

<!-- JavaScript at the bottom to speed up page loading -->
<script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vue.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='demo.js') }}"></script>

{% endblock %}
